<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag 	'screen' %> 
<%= stylesheet_link_tag 	'print', :media => 'print' %>
<%= stylesheet_link_tag 	'custom' %>
<!--[if lt IE 8]>
	<%= stylesheet_link_tag 'ie' %>
<![endif]-->
