<!DOCTYPE html>
<html>
	<head>
	  <title><%= title %></title>
	  <%= render 'layouts/stylesheets' %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
      <%= render :partial => "layouts/header" %>
      <section class="round">
	      <% flash.each do |key, value| %>
	      	<%= content_tag(:div, value, :class => "flash #{key}") %>
	      <% end %>
	      <%= yield %>
      </section>
      <%= render :partial => "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
	</body>
</html>
